body {
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.textInputs input{
  display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    margin:2px 0 2px 10px;
}
